{# templates/fortune/tests.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tests{% endblock %}

{% block body %}
    <h1 class="text-center my-8 text-2xl text-slate-800 font-bold">Résultats du test</h1>

    <div class="xl:container xl:mx-auto grid grid-cols-2 gap-6 px-10 mt-8 mb-10">
        <div>
            <h2>Résultats de la première méthode</h2>
            {% if testResult1 %}
                <p>Nombre d'éléments dans le tableau: {{ testResult1|length }}</p>
                <table class="w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            {% for column, value in testResult1[0] %}
                                <th class="border border-gray-300 bg-gray-100 p-2">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in testResult1 %}
                            <tr>
                                {% for column, value in row %}
                                    <td class="border border-gray-300 p-2">{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center text-gray-500">Aucun résultat trouvé pour la première méthode.</p>
            {% endif %}
        </div>

        <div>
            <h2>Résultats de la deuxième méthode</h2>
            {% if testResult2 %}
                <p>Nombre d'éléments dans le tableau: {{ testResult2|length }}</p>
                <table class="w-full border-collapse border border-gray-300">
                    <thead>
                        <tr>
                            {% for column, value in testResult2[0] %}
                                <th class="border border-gray-300 bg-gray-100 p-2">{{ column }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in testResult2 %}
                            <tr>
                                {% for column, value in row %}
                                    <td class="border border-gray-300 p-2">{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-center text-gray-500">Aucun résultat trouvé pour la deuxième méthode.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
